
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Klee+One&family=Merriweather&family=Poppins:wght@300;400&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;

   
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    width: 100%;
}

#logo_link{
padding-top: 5px;
}

.logo{
    width:80px;
}
.icon{
    width:80px;
    padding-top: 10px;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing:border-box;
}

#background{
    height: 725px;
    background-color:#E1D1BC;
}
body{
    background-color: #344C94;
    font-family: merriweather, regular, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #9c6c48;
    color: bLack;
}
nav a:hover{
    background-color:#E1D1BC;
    color:black;
}
.home-title{
    color: white;
    font-family: "Delius","Klee One", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;
}

h4{
    color: white;
}
.book, .join{
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: black;
    background-color: #E1D1BC;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #E1D1BC;
}
.msg{
    background-color:(225,209,188);
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: white;
    background-color: #9c6c48;
}
.msg p{
    color:black;
    background-color:#9c6c48;
    padding-bottom: 15px;
}
footer{
    background-color:#9c6c48;
    color:black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    
    color:black;
}
footer a:hover{
    text-decoration: underline;
    color: #E1D1BC;
}
footer a{
    color: black;
    text-decoration: none;
}
footer p{
    font-size:1.5em;
}
footer p a:hover{
    text-decoration: underline;
}